/* Global styles for the entire React app */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water,landscape');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 120%;
}

/* Ensures React root takes full height */
#root {
  width: 100%;
  height: 100%;
}
